/* Hoja de estilos generales */
body{
    background-color: #f4f4f4;
    margin: 0px;
}
a{
    text-decoration: none;
}
/* Hoja de estilos de la cabecera */
#cabecera{
    background-color: #75d2c1;
    height: 11vh;
    width: 100vw;
    position: fixed;
    margin-top: -100px;
    text-decoration: none;
    z-index: 1;
}
#estructuraCabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-decoration: none;
}
/* Hoja de estilos de los botones de la cabecera */
.textoCabecera{
    background-color: rgb(206, 125, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 16vw;
    margin: 10px;
    background: #029678;
    font-family: inherit;
    padding: 1.3em 1.6em;
    font-weight: 900;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    font-family: 'Amiko', sans-serif;
    text-decoration: none;
}
.textoCabecera:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
}
.textoCabecera:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
/* Hoja de estilos del contenido */
#contenidoTerceraPagina{
    height: 250vh;
    width: 99vw;
    background-color: #f4f4f4;
    font-family: 'Amiko', sans-serif;
}
#tituloContenido{
    height: 15vh;
    width: 90vw;
    background-color: #04ccac;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px #029678 solid;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
#informacionContenido{
    margin-left: auto;
    margin-right: auto;
}
.parrafosInformacion{
    background-color: #75d2c1;
    height: 40vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}
#parrafoVideoLOL{
    height: 48vh;
    padding-bottom: 11px;
}
#parrafoLigasSpain, #videoLOL, #ligasspain{
    height: 50vh;
}
#primerparrafoinformacion{
    width: 40vw;
}
#estadisticas{
    width: 35vw;
}
#ligasspain{
    width: 80vw;
}
#estadisticas, .imagenesInformacion{
    width: 25.5vw;
}
video{
    height: 30vh;
    width: 30vw;
}
#videoLOL{
    width: 40vw;
    z-index: 0;
}
.imagenesInformacion{
    height: 40vh;
    margin-left: 10px;
}
/* Hoja de estilos del pie de página */
#pieDePagina{
    background-color: #f4f4f4;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amiko', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='360' preserveAspectRatio='none' viewBox='0 0 1920 360'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1060%26quot%3b)' fill='none'%3e%3crect width='1920' height='360' x='0' y='0' fill='rgba(244%2c 244%2c 244%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c65 C 38.4%2c70.6 115.2%2c94.2 192%2c93 C 268.8%2c91.8 307.2%2c48.6 384%2c59 C 460.8%2c69.4 499.2%2c143.4 576%2c145 C 652.8%2c146.6 691.2%2c74.4 768%2c67 C 844.8%2c59.6 883.2%2c109.4 960%2c108 C 1036.8%2c106.6 1075.2%2c56.6 1152%2c60 C 1228.8%2c63.4 1267.2%2c136.2 1344%2c125 C 1420.8%2c113.8 1459.2%2c-5 1536%2c4 C 1612.8%2c13 1651.2%2c163.8 1728%2c170 C 1804.8%2c176.2 1881.6%2c62 1920%2c35L1920 360L0 360z' fill='rgba(117%2c 210%2c 193%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c217 C 48%2c245.2 144%2c350.4 240%2c358 C 336%2c365.6 384%2c270 480%2c255 C 576%2c240 624%2c293.4 720%2c283 C 816%2c272.6 864%2c196.4 960%2c203 C 1056%2c209.6 1104%2c319.8 1200%2c316 C 1296%2c312.2 1344%2c177.2 1440%2c184 C 1536%2c190.8 1584%2c348 1680%2c350 C 1776%2c352 1872%2c225.2 1920%2c194L1920 360L0 360z' fill='rgba(117%2c 210%2c 193%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1060'%3e%3crect width='1920' height='360' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
/* Hoja de estilos de los botones de las redes sociales */
.container {
    position:relative;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.container button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
}
.icon {
    width: 26px;
    height: 26px;
    fill: #fff;
}
.container button:nth-child(1):hover {
    background-color: #2753a7;
} 
.container button:nth-child(2):hover {
    background-color: #cd242b;
}
.container button:nth-child(3):hover {
    background-color: #55acee;
} 
.container button:nth-child(4):hover {
    background-color: #0274b3;
}
.title {
    color: gray;
    font-weight: 700;
    font-size: 17px;
    position: absolute; 
    top: -35px;
    left: -14px;
    margin-left: auto;
    margin-right: auto;
}
/* Hoja de estilos para que la página sea responsive */
@media (max-width: 720px) {
    .html{
        width: 50%;
    }
    .textoCabecera{
        font-size: 10px;
        text-align: center;
    }
    #tituloContenido{
        text-align: center;
        font-size: 15px;
    }
    #contenidoTerceraPagina{
        height: 280vh;
    }
    .parrafosInformacion{
        height: 50vh;
        width: 80vw;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .imagenesInformacion{
        height: 20vh;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    #parrafoEstadisticas{
        height: 60vh;
    }
    #estadisticas{
        width: 60vw;
    }
    #parrafoVideoLOL{
        height: 50vh;
    }
    #videoLOL{
        height: 20vh;
        width: 50vw;
    }
    video{
        height: 50vh;
        width: 80vw;
    }
    #parrafoLigasSpain{
        height: 55vh;
    }
    #ligasspain{
        height: 30vh;
        width: 70vw;
    }
}